.inputGroup {
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: repeat(6, 100px);
  gap: 8px;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.inputLabel {
  width: 40px;
  font-size: 12px;
}

.inputField {
  width: 48px;
}
