.container {
  border-radius: 12px;
  background-color: #f6f6f6;
}

.title {
  padding: 4px 16px;
  border-radius: 12px 12px 0 0;
  background-color: #e0e0e0;
  font-size: 20px;
  font-weight: bold;
}

.contentContainer {
  padding: 16px;
}
